body{
	background-color: #7F7F7F;
	margin:8px;
	color:#7C7C7C;
	font-family: "Verdana", serif;
	
}

p{
		font-size: 18px;
	}

meta{
	display: none;
}

.header{
	background-color: #FC574F;
	margin:4px auto;
	padding:16px;
	font-size: 40px;
	color:#fff;
	border-left:1.89px solid #FC574F;
	border-right:1.89px solid #FC574F;
	border-bottom: 3px solid #7F7F7F;
	border-collapse: collapse;
	border-spacing: 0px;
}

.container{
	height:auto;
	width: 75%;
	margin:0 auto;
	text-align: center;

}


.calculator-container{
	height: auto;
	min-height: 550px;
	background-color: #FFFFFF;
	position: relative;
	padding:0px;
	padding-top:24px;
	padding-bottom: 24px;
	border-radius:8px;
	border-left:1.89px solid #FC574F;
	border-right:1.89px solid #FC574F;
	border-collapse: collapse;
	border-spacing: 0px;
}

.calculator-container h4{
	padding: 16px;
}


#vat-form h3{
	margin:8px 0px;
}



.radio{
	margin:16px;
}


#dollar-icon{
	font-size: 24px;
}

.input-field,button,input{
	outline: none;
}
.input-field{
	text-align: center;
	width: 55%;
	min-height:40px;
	background-color: #FFFFFF;
	border:2px solid #fff;
	border-bottom: 2px solid #7C7C7C;
	border-radius: 4px;
	font-size:18px;
}

::-webkit-input{
	text-align: center;
}

.input-field:hover{
	transition: .5s;
	border:2px solid #FC574F;
}

.input-field:focus{
	border:2px solid #FC574F;	
}


/*Centering placeholder*/
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
/*End of centering*/

.information{
	background-color:#FFFFFF;
	padding:16px; 
	margin:12px auto;
	width: 68%;
	border-radius: 8px;
	border-left:1.89px solid #FC574F;
	border-right:1.89px solid #FC574F;
}

.information p{
	text-align: left;
}

.information h1{
	text-decoration: underline;
	color:#FC574F;
}

.information ul li{
	text-align: left;
	list-style: none;
	padding:8px;
	font-size: 18px;
}

#select-country{
	outline: none;
	width: 50%;
	min-height: 32px;
	border-radius: 8px;
	border:2.5px solid #7C7C7C;
	margin: 38px 0;
}

#select-country:focus{
	transition: .3s;
	border:2.5px solid #FC574F;
}

.addition{
	font-size: 32px;
	padding:16px;
}
.submit-button{
	border:none;
	border-radius:6px;
	padding:12px;
	margin:24px;
	color:#fff;
	font-size: 14px;
	font-weight:bolder;
	background-color:#FC574F;
}


.submit-button:hover{
	transition: .6s;
	background-color: #6c757d;
	cursor: pointer;
}


#results{
	text-align: center;
	display: none;
	color: #FFFFFF;
	background-color:#FC574F;
	padding:12px;
	margin:8px auto;
	width:68%;
	border-radius:6px;
}


footer{
	min-height: 48px;
	padding:20px 0;
}

footer{
	border:3px solid #FC574F;
}

footer.container{
	color:#FFFFFF;
	background: #FC574F;
	text-align: center;
}

footer.container ul{
	margin:0;
	padding:0;
}

footer ul li a {
	color:#FFFFFF;
	text-decoration: none;
}

footer ul{
	list-style: none;
	margin:0 auto;
	text-align:center;

}


footer ul li{
	display: inline;
	text-align: center;
	margin:0;
	padding:0px 16px;
	font-size: 18px;
}


footer ul li a:hover{
	transition: .6s;
	text-decoration: underline;
}



@media(min-width: 320px){
	.container{
	width: 80%;

}
}



@media(min-width: 1024px){
	.container{
		width: 60%;
	}
}









